@import '~@department-of-veterans-affairs/formation/sass/base/_b-variables';


.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  background-color: $color-primary-darkest;
}
