@import '~@department-of-veterans-affairs/formation/sass/base/_b-variables';


.header {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 10rem;
  background-color: $color-primary-darkest;
  color: $color-white;
  padding: 3rem;
}

.headerLogo {
  max-width: 50%;
  width: 40rem
}
